<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
        name="crossCutterN" 
        type="CrossCutterN.Command.Configuration.CrossCutterNSection, CrossCutterN.Command" 
        allowLocation="true" 
        allowDefinition="Everywhere"
      />
  </configSections>
  <crossCutterN>
    <concernAttributeAspectBuilders>
      <!--Options Test-->
      <add id="ConcernAttributePublic">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="0" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PublicEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="8" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PublicExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributeProtected">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="false" concernProtected="true" concernPublic="false" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="1" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="ProtectedEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="7" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="ProtectedExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributeInternal">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="true" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="false" concernProtected="false" concernPublic="false" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="2" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="InternalEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="6" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="InternalExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributePrivate">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="true" concernProtected="false" concernPublic="false" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="3" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PrivateEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="5" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PrivateExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributeInstance">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="true" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="true" concernProtected="true" concernPublic="true" concernStatic="false" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="4" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="InstanceEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="4" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="InstanceExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributeStatic">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="false" concernInternal="true" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="true" concernPrivate="true" concernProtected="true" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="5" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="StaticEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="3" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="StaticExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributeMethod">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="true" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="true" concernProtected="true" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="6" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="MethodEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="2" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="MethodExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributePropertyGetter">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="true" concernMethod="false" concernPropertyGetter="true"
                 concernPropertySetter="false" concernPrivate="true" concernProtected="true" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="7" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PropertyGetterEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="1" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PropertyGetterExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="ConcernAttributePropertySetter">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OptionsTest.OptionsConcernClassAttribute, CrossCutterN.Test" />
        <options concernConstructor="true" concernInstance="true" concernInternal="true" concernMethod="false" concernPropertyGetter="false"
                 concernPropertySetter="true" concernPrivate="true" concernProtected="true" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="8" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PropertySetterEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="0" 
               classType="CrossCutterN.Test.OptionsTest.OptionsTestAdvice, CrossCutterN.Test" method="PropertySetterExit" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <!--Attribute Overwrite Test-->
      <add id="ConcernAttributeOverwrite">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       classConcernAttribute="CrossCutterN.Test.OverwriteTest.OverwriteConcernClassAttribute, CrossCutterN.Test" 
                       methodConcernAttribute="CrossCutterN.Test.OverwriteTest.OverwriteConcernMethodAttribute, CrossCutterN.Test"
                       propertyConcernAttribute="CrossCutterN.Test.OverwriteTest.OverwriteConcernPropertyAttribute, CrossCutterN.Test"
                       noConcernAttribute="CrossCutterN.Test.OverwriteTest.OverwriteNoConcernAttribute, CrossCutterN.Test" />
        <options concernConstructor="false" concernInstance="true" concernInternal="true" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="false" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="9" 
               classType="CrossCutterN.Test.OverwriteTest.OverwriteTestAdvice, CrossCutterN.Test" method="Entry" parameterPattern="Empty"/>
          <add joinPoint="Exception" sequence="9" 
               classType="CrossCutterN.Test.OverwriteTest.OverwriteTestAdvice, CrossCutterN.Test" method="Exception" parameterPattern="Empty"/>
          <add joinPoint="Exit" sequence="9" 
               classType="CrossCutterN.Test.OverwriteTest.OverwriteTestAdvice, CrossCutterN.Test" method="Exit" parameterPattern="Empty"/>
        </pointcut>
      </add>
      <!--Mixed Test-->
      <add id="ConcernAttributeMixed">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect" 
                       method="InitializeConcernAttributeAspectBuilder" 
                       methodConcernAttribute="CrossCutterN.Test.MixedTest.MixedConcernMethodAttribute, CrossCutterN.Test" />
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true" 
                 pointCutAtEntry="true" pointCutAtException="true" pointCutAtExit="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="10" 
               classType="CrossCutterN.Test.MixedTest.MixedTestAdvice, CrossCutterN.Test" method="EntryByAttribute" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="10" 
               classType="CrossCutterN.Test.MixedTest.MixedTestAdvice, CrossCutterN.Test" method="ExitByAttribute" parameterPattern="Empty"/>
        </pointcut>
      </add>
    </concernAttributeAspectBuilders>
    
    <nameExpressionAspectBuilders>
      <!--Mixed Test-->
      <add id="NameExpressionMixed">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.MixedTest.*Target.*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Exit" sequence="11"
               classType="CrossCutterN.Test.MixedTest.MixedTestAdvice, CrossCutterN.Test" method="ExitByNameExpression" parameterPattern="Execution"/>
        </pointcut>
      </add>
      <!--Name Expression Test-->
      <add id="NameExpression">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.NameExpressionTest.*Target*.*ToBe*"/>
          </includes>
          <excludes>
            <add expression="CrossCutterN.Test.NameExpressionTest.*Target*.*NotToBe*"/>
          </excludes>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="true"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="12"
               classType="CrossCutterN.Test.NameExpressionTest.NameExpressionTestAdvice, CrossCutterN.Test" method="Entry" parameterPattern="Empty"/>
        </pointcut>
      </add>
      <!--Advice Parameter Test-->
      <add id="NameExpressionAllParameter">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.All*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="13"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="EntryExecution" parameterPattern="Execution"/>
          <add joinPoint="Exception" sequence="13"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExceptionExecutionException" parameterPattern="ExecutionException"/>
          <add joinPoint="Exit" sequence="13"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExitExecutionReturnHasException" parameterPattern="ExecutionReturnHasException"/>
        </pointcut>
      </add>
      <add id="NameExpressionNoExecution">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.NoExecution*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="14"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="EntryEmpty" parameterPattern="Empty"/>
          <add joinPoint="Exception" sequence="14"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExceptionException" parameterPattern="Exception"/>
          <add joinPoint="Exit" sequence="14"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExitReturnHasException" parameterPattern="ReturnHasException"/>
        </pointcut>
      </add>
      <add id="NameExpressionNoReturn">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.NoReturn*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Entry" sequence="15"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="EntryExecution" parameterPattern="Execution"/>
          <add joinPoint="Exception" sequence="15"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExceptionExecutionException" parameterPattern="ExecutionException"/>
          <add joinPoint="Exit" sequence="15"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExitExecutionHasException" parameterPattern="ExecutionHasException"/>
        </pointcut>
      </add>
      <add id="NameExpressionNoHasException">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.NoHasException*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Exit" sequence="16"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExitExecutionReturn" parameterPattern="ExecutionReturn"/>
        </pointcut>
      </add>
      <add id="NameExpressionNoException">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.NoException*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Exception" sequence="17"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExceptionExecution" parameterPattern="Execution"/>
        </pointcut>
      </add>
      <add id="NameExpressionOnlyExecution">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.Test.ParameterTest.*Target.OnlyExecution*"/>
          </includes>
          <excludes/>
        </factoryMethod>
        <options concernConstructor="false" concernInstance="true" concernInternal="false" concernMethod="true" concernPropertyGetter="false"
                 concernPropertySetter="false" concernPrivate="false" concernProtected="false" concernPublic="true" concernStatic="true"/>
        <pointcut>
          <add joinPoint="Exception" sequence="18"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExceptionExecution" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="18"
               classType="CrossCutterN.Test.ParameterTest.ParameterTestAdvice, CrossCutterN.Test" method="ExitExecution" parameterPattern="Execution"/>
        </pointcut>
      </add>
    </nameExpressionAspectBuilders>
  </crossCutterN>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>