<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="crossCutterN"
        type="CrossCutterN.Command.Configuration.CrossCutterNSection, CrossCutterN.Command"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>
  <crossCutterN>
    <concernAttributeAspectBuilders>
      <add id="AspectInjectedByAttributeExample">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeConcernAttributeAspectBuilder"
                       methodConcernAttribute="CrossCutterN.SampleAdvice.SampleConcernMethodAttribute, CrossCutterN.SampleAdvice"/>
        <pointcut>
          <add joinPoint="Entry" sequence="1"
               classType="CrossCutterN.SampleAdvice.Advices, CrossCutterN.SampleAdvice" method="InjectByAttributeOnEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="2"
               classType="CrossCutterN.SampleAdvice.Advices, CrossCutterN.SampleAdvice" method="InjectByAttributeOnExit" parameterPattern="Return"/>
        </pointcut>
        <!--<switch status="Off"/>-->
      </add>
    </concernAttributeAspectBuilders>
    <nameExpressionAspectBuilders>
      <add id="AspectInjectedByMethodNameExample">
        <factoryMethod type="CrossCutterN.Aspect.Builder.AspectBuilderFactory, CrossCutterN.Aspect"
                       method="InitializeNameExpressionAspectBuilder">
          <includes>
            <add expression="CrossCutterN.SampleTarget.Target.Ad*"/>
          </includes>
        </factoryMethod>
        <pointcut>
          <add joinPoint="Entry" sequence="2"
               classType="CrossCutterN.SampleAdvice.Advices, CrossCutterN.SampleAdvice" method="InjectByMethodNameOnEntry" parameterPattern="Execution"/>
          <add joinPoint="Exit" sequence="1"
               classType="CrossCutterN.SampleAdvice.Advices, CrossCutterN.SampleAdvice" method="InjectByMethodNameOnExit" parameterPattern="Return"/>
        </pointcut>
      </add>
    </nameExpressionAspectBuilders>
  </crossCutterN>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>